
body,div{
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: "Rockwell";
	src: url("font/Rockwell.otf");
}
body{
	background-color: #000000;
}
a{
	text-decoration: none;
	color: white;
}
#head{
	width: 800px;
	margin: auto auto;
	color: red;
	font-size: 100px;
	margin-bottom: -115px;
	
}
.box{
	display: grid;
	width: 800px;
	height: 850px;
	overflow: hidden;
	border: 1px solid black;
	margin: auto auto;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	background: black;
	color: white;
}
.left{
	margin-left: -5px;
}
.box_s{
	width: 80px;
	height: 160px;
	border: 2px solid red;
	margin-top: 5px;
	margin-left: 3px;
	font-family: "Rockwell";
	font-size: 60px;
	text-align: left;
	transition: all 1.6s;
	background: black;
	border-radius: 4px;
}
.box_s:hover{
	transform: scale(1.4);
}
.a{
	margin-top: 320px;
}
.b{
	margin-top: 240px;
}
.c{
	margin-top: 140px;
}
.d{
	margin-top: 90px;
}
.e{
	margin-top: 200px;
}
.f{
	margin-top: 120px;
}
.g{
	margin-top: -30px;
}
.h{
	margin-top: 30px;
}
.i{
	margin-top: 270px;
}